.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainContainer {
    height: 100%;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#075D5D, #059F96)
}

.mainPanel, .drMainPanel {
    height: 100%;
    background: #EBF6F5;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1px;
}

.rightPanel {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.leftPanel {
    display: flex;
    align-items: center;
}

.handImg {
    max-height: 85vh;
}

.loginContainer {
    max-width: 100%;
    min-width: 50%;
    margin: 0 auto;
    padding: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .loginContainer h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }


form.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .textLabel {
    display: block;
    margin-bottom: 5px;
  }
  
  .loginForm input[type='text'],
  .loginForm input[type='password'] {
    width: 100%;
    min-width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  /* Flex bc login in dr side needs flex. */
  .smallerInput {
    display: flex;
    margin-bottom: 30px;
    font-size: 0.9rem;
    color: #888888;
    display: flex;
    min-width: 300px;
    gap: 25px;
    align-items: center;
    justify-content: center;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
  }

  .buttonContainer button {
    min-width: 300px;
  }

  button {
    width: 70%;
    padding: 14px;
    background-color: #075D5D;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    margin: 0;
  }

  
  button:hover {
    background-color: #0d7e7e;
  }
  