.sidenav {
    font-size: 20px;
    text-align: left;
    padding: 1rem;
}

.link {
    display: inline-flex;
    text-decoration: none;
    margin: 20px 0;  
  }

  .linkImage {
    height: 40px;
    width: 40px;
    margin-right: 20px;  
    vertical-align: middle;
  }

  .linkText {
    vertical-align: middle;
  }
  
  .sidenav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 12px;
  }
  
  .sidenav a:hover {
    background-color: rgba(217, 217, 217, .44);
  }